force-app/main/default/flows/Activate_Contracts_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Activate_Contracts</name>
        <label>Activate Contracts</label>
        <locationX>333</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Contracts_Loop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contract_List</name>
        <label>Update Contract List</label>
        <locationX>545</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>UpdateContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contracts_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contracts_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Activate Contracts Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Contracts Batch</label>
    <loops>
        <name>Contracts_Loop</name>
        <label>Contracts Loop</label>
        <locationX>333</locationX>
        <locationY>324</locationY>
        <collectionReference>Get_Contracts_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Activate_Contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contracts_List</name>
        <label>Get Contracts List</label>
        <locationX>186</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contracts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bill_Dates_Arrived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>544</locationX>
        <locationY>237</locationY>
        <inputReference>UpdateContractList</inputReference>
    </recordUpdates>
    <start>
        <locationX>60</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>Get_Contracts_List</targetReference>
        </connector>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-07-31</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>UpdateContractList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
