force-app/main/default/flows/After_Update_or_Insert_Contract_RenewalRemider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>after_15_days</name>
        <label>after 15 days</label>
        <locationX>930</locationX>
        <locationY>408</locationY>
        <actionName>Contract.Renewal_reminder_after_15_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>after_45_days</name>
        <label>after 45 days</label>
        <locationX>490</locationX>
        <locationY>408</locationY>
        <actionName>Contract.Renewal_reminder_after_45_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>After_60_days</name>
        <label>After 60 days</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Contract.Renewal_reminder_after_60_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_End_Date_to_15_Days</name>
        <label>Check End Date to 15 Days</label>
        <locationX>1062</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X15_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>after_15_days</targetReference>
            </connector>
            <label>15 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_End_Date_to_45_Days</name>
        <label>Check End Date to 45 Days</label>
        <locationX>622</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X45_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>after_45_days</targetReference>
            </connector>
            <label>45 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_End_Date</name>
        <label>Contract End Date</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X60_Days_Before_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_60_days</targetReference>
            </connector>
            <label>60 Days Before Contract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>After Update or Insert Contract : RenewalRemider {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Update or Insert Contract : RenewalRemider</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Renewal_Reminder_60</name>
            <connector>
                <targetReference>Contract_End_Date</targetReference>
            </connector>
            <label>Renewal Reminder  60</label>
            <offsetNumber>-60</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Renewal_Reminder_45</name>
            <connector>
                <targetReference>Check_End_Date_to_45_Days</targetReference>
            </connector>
            <label>Renewal Reminder 45</label>
            <offsetNumber>-45</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Renewal_Reminder_15</name>
            <connector>
                <targetReference>Check_End_Date_to_15_Days</targetReference>
            </connector>
            <label>Renewal Reminder 15</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
