force-app/main/default/flows/After_Delete_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Count</name>
        <label>Assign Contact Count</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>objAccount.Contact_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCountMinusone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Authority_Tier_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Tier_1_Authority_Count</name>
        <label>Assign Contact Tier 1 Authority Count</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>objAccount.Count_Of_Tier_1_Authority_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>authorityTierOneMinusOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Technical_Contact_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Technical_Contact_Count</name>
        <label>Assign Technical Contact Count</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>objAccount.Count_Of_Technical_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>technicalContactMinusOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Count_Of_Contact_On_Account_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Authority_Tier_1</name>
        <label>Check Authority Tier 1</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Technical_Contact_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Authority_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Authority_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1: C Level / VP IT / Director Level / Key Decision Makers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Tier_1_Authority_Count</targetReference>
            </connector>
            <label>Authority Tier 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Technical_Contact_Count</name>
        <label>Check Technical Contact Count</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Update_Count_Of_Contact_On_Account_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_Contact_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Check_Contact_Type_Contains_Technical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Technical_Contact_Count</targetReference>
            </connector>
            <label>Technical Contact Count</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>authorityTierOneMinusOne</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Count_Of_Tier_1_Authority_Level__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>contactCountMinusone</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Contact_Count__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>technicalContactMinusOne</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Count_Of_Technical_Contact__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>After Delete : Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Delete : Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Count_Of_Contact_On_Account_0_0_0</name>
        <label>Update Count Of Contact On Account</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <inputReference>objAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Contact_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
