force-app/main/default/flows/After_Update_or_Insert_Quote_send_email_alert_and_update_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Owner email alert on Quote Approval</description>
        <name>alert_on_Quote_Approval</name>
        <label>alert on Quote Approval</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <actionName>SBQQ__Quote__c.Owner_email_alert_on_Quote_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Quote_Approval_mail_to_partner_sales_rep</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_to_Partner_Rep_on_Quote_Approval</name>
        <label>SendEmail to Partner Rep on Quote Approval</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>SBQQ__Quote__c.Email_to_Partner_Rep_on_Quote_Approval</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Quote_Approval_mail_to_partner_sales_rep</name>
        <label>Quote Approval mail to partner sales rep</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Quote_Approval_mail_to_partner_sales_rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail_to_Partner_Rep_on_Quote_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Quote Approval mail to partner sales rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Quote_Status_as_Approved2_value</name>
        <label>Update Quote Status as Approved2 value</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Quote_Status_as_Approved2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alert_on_Quote_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Quote Status as Approved2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>After Update or Insert Quote : send email alert and update field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Update or Insert Quote : send email alert and update field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Status_as_Approved2_value</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
