force-app/main/default/flows/After_Insert_or_Update_Product_Update_Product_as_Inactive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Update_Product_as_Inactive_Value</name>
        <label>Update Product as Inactive Value</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_as_Inactive</targetReference>
            </connector>
            <label>Update Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Product_Code_decision</name>
        <label>Update Product Code decision</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Product_Code</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SAP_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Code_Number</targetReference>
            </connector>
            <label>Update Product Code</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>productCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.SAP_Product__c} ),
   {!$Record.Product_Code_Auto_Number__c},
{!$Record.SAP_Product__r.Product_Code_Auto_Number__c}
)</expression>
    </formulas>
    <interviewLabel>After Insert or Update Product : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Insert or Update Product : Update Product as Inactive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_Product_as_Inactive</name>
        <label>Assign Product as Inactive</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Code_Number</name>
        <label>Update Product Code</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <elementReference>productCodeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Product_Code_decision</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Update_Product_as_Inactive</name>
            <connector>
                <targetReference>Update_Product_as_Inactive_Value</targetReference>
            </connector>
            <label>Update Product as Inactive</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Sales_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
