force-app/main/default/flows/After_Update_or_Insert_QuoteLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Update_Commercial_Status_value</name>
        <label>Update Commercial Status value</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Commercial_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>commercialStatusFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status</targetReference>
            </connector>
            <label>Update Commercial Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>commercialStatusFormula</name>
        <dataType>Boolean</dataType>
        <expression>!ISBLANK({!$Record.Approval_level__c} ) &amp;&amp;
({!$Record.Approval_level__c}&gt; 0 &amp;&amp;{!$Record.Final_Unit_Price__c} &lt;&gt;{!$Record.Approved_Unit_Price__c}) &amp;&amp;
NOT(ISPICKVAL( {!$Record.SBQQ__Quote__r.Commercial_Approval_Status__c} , &apos;Submitted for Approval&apos;)) &amp;&amp;
IF((TEXT( {!$Record.SBQQ__Quote__r.SBQQ__Type__c})
= &apos;Amendment&apos; ||TEXT( {!$Record.SBQQ__Quote__r.SBQQ__Type__c})
= &apos;Renewal&apos;) &amp;&amp; ISBLANK( TEXT( {!$Record.SBQQ__Quote__r.SCF_Type__c} )), FALSE, TRUE) &amp;&amp;
(
ISPICKVAL( {!$Record.SBQQ__Quote__r.Commercial_Approval_Status__c} , &apos;Not Required&apos; ) ||
(
( ISPICKVAL( {!$Record.SBQQ__Quote__r.Commercial_Approval_Status__c} , &apos;Approved&apos; ) ||
ISPICKVAL( {!$Record.SBQQ__Quote__r.Commercial_Approval_Status__c} , &apos;Rejected&apos; )
) &amp;&amp;
( ISNEW() ||
ISCHANGED({!$Record.Final_Unit_Price__c} )
) &amp;&amp;{!$Record.Final_Unit_Price__c} &lt;&gt;{!$Record.Approved_Unit_Price__c}
)
)</expression>
    </formulas>
    <formulas>
        <name>updateCommercialStatusFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__Dimension__r.Sales_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>After Update or Insert QuoteLine : UpdateCommercialStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Update or Insert QuoteLine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_Status</name>
        <label>Update Quote Status</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commercial_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approval Required</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Approval_Status__c</field>
            <value>
                <stringValue>Approval Required</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Commercial_Status_value</targetReference>
        </connector>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
