force-app/main/default/flows/Amendment_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Active</name>
        <label>Active</label>
        <locationX>840</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Sub_Loop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sub_Loop.SCF_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Sub_in_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sub_in_Update_List</name>
        <label>Add Sub in Update List</label>
        <locationX>738</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>UpdateSubs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sub_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deployment_Pending</name>
        <label>Deployment Pending</label>
        <locationX>636</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>Sub_Loop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployment Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sub_Loop.SCF_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Sub_in_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Under_Delivery</name>
        <label>Under Delivery</label>
        <locationX>978</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>Sub_Loop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Delivery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sub_Loop.SCF_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Sub_in_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amendment_Renewal</name>
        <label>Amendment / Renewal ?</label>
        <locationX>299</locationX>
        <locationY>599</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amendment_Contract</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Contract</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Start_Date_NULL</name>
        <label>Tech Start Date=NULL?</label>
        <locationX>444</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Loop.Bill_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active</targetReference>
            </connector>
            <label>Status=Active</label>
        </rules>
        <rules>
            <name>Status_Under_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Loop.Bill_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sub_Loop.IR_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Under_Delivery</targetReference>
            </connector>
            <label>Status=Under Delivery</label>
        </rules>
        <rules>
            <name>Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Loop.Bill_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sub_Loop.IR_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deployment_Pending</targetReference>
            </connector>
            <label>Status=Deployment Pending</label>
        </rules>
    </decisions>
    <description>Change status of subscriptions from &quot;Amendment in Progress&quot; to Active/Under Delivery/Deployment Pending when Amendment Opportunity is marked as &quot;Closed Lost&quot;. This flow is being called in Opportunity Process</description>
    <interviewLabel>Re {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amendment Cancellation</label>
    <loops>
        <name>Sub_Loop</name>
        <label>Sub Loop</label>
        <locationX>305</locationX>
        <locationY>216</locationY>
        <collectionReference>Get_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tech_Start_Date_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subscriptions</name>
        <label>Get Subscriptions</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment in progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Bill_Start_Date__c</queriedFields>
        <queriedFields>IR_Number__c</queriedFields>
        <queriedFields>SCF_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amendment_Contract</name>
        <label>Update Amendment Contract</label>
        <locationX>500</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Update_Amendment_Opty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_SCF_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__AmendmentStartDate__c</field>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Amendment_Opty</name>
        <label>Update Amendment Opty</label>
        <locationX>641</locationX>
        <locationY>534</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OptyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__AmendedContract__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Contract</name>
        <label>Update Renewal Contract</label>
        <locationX>507</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Renewal_Opty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__RenewalForecast__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalOpportunity__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalQuoted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opty</name>
        <label>Update Renewal Opty</label>
        <locationX>640</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OptyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__RenewedContract__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subs</name>
        <label>Update Subs</label>
        <locationX>307</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Amendment_Renewal</targetReference>
        </connector>
        <inputReference>UpdateSubs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Get_Subscriptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>QuoteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateSubs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
</Flow>
