force-app/main/default/flows/before_Update_or_Insert_Opportunity_update_probability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ACV_Updated_Value</name>
        <label>ACV Updated Value</label>
        <locationX>314</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACV</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ACV_Updated_Value_0</name>
        <label>ACV Updated Value 0</label>
        <locationX>578</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Probability</name>
        <label>Probability</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>probabilityFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Stage_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_forecast_1</name>
        <label>Sales forecast 1</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRegion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Forecast_2</name>
        <label>Sales Forecast 2</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRegion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sales_Forecast_3</name>
        <label>sales Forecast 3</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRegion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Head_India_Global</name>
        <label>Sales Head India - Global</label>
        <locationX>842</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.India_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Global</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_ACV_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Head_India_Government0</name>
        <label>Sales Head India - Government</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.India_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Govt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_ACV_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Head_India_India1</name>
        <label>Sales Head India - India1</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.India_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>India1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_ACV_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Head_India_India2</name>
        <label>Sales Head India - India2</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.India_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>India2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_ACV_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRegion</name>
        <label>CheckRegion</label>
        <locationX>578</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Opportunity_ACV_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Region_is_West_South1_and_South2</name>
            <conditionLogic>(1 OR 2 OR 3 OR 5) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>West</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Head_India_India1</targetReference>
            </connector>
            <label>Region is West, South1 and South2</label>
        </rules>
        <rules>
            <name>Region_is_North_and_East</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>East</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Head_India_India2</targetReference>
            </connector>
            <label>Region is North and East</label>
        </rules>
        <rules>
            <name>Region_is_Government</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Head_India_Government0</targetReference>
            </connector>
            <label>Region is Government</label>
        </rules>
        <rules>
            <name>Region_is_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Head_India_Global</targetReference>
            </connector>
            <label>Region is Global</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_Stage_Name</name>
        <label>For Stage Name</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckRegion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_forecast_1</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Cancel_Lost</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Forecast_2</targetReference>
            </connector>
            <label>Closed Cancel/Lost</label>
        </rules>
        <rules>
            <name>For_POC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sales_Forecast_3</targetReference>
            </connector>
            <label>For POC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_ACV_Updated</name>
        <label>Opportunity ACV Updated</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_ACV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_ACV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACV_Updated_Value</targetReference>
            </connector>
            <label>Opportunity ACV</label>
        </rules>
        <rules>
            <name>Opportunity_ACV_not_equals_to_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_ACV__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACV_Updated_Value_0</targetReference>
            </connector>
            <label>Opportunity ACV not equals to 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ACV</name>
        <dataType>Number</dataType>
        <expression>IF(IF( {!$Record.Contract_Tenure_Year__c} &gt; 0, {!$Record.Contract_Tenure_Year__c} * 12 , 0)
+
IF( {!$Record.Contract_Tenure_Month__c} &gt; 0, {!$Record.Contract_Tenure_Month__c} , 0)
+
IF( {!$Record.Contract_Tenure_Days__c} &gt; 0, {!$Record.Contract_Tenure_Days__c} / 30 , 0) &gt; 12 , ((({!$Record.Amount})/(

IF( {!$Record.Contract_Tenure_Year__c} &gt; 0, {!$Record.Contract_Tenure_Year__c} * 12 , 0)
+
IF( {!$Record.Contract_Tenure_Month__c} &gt; 0, {!$Record.Contract_Tenure_Month__c} , 0)
+
IF( {!$Record.Contract_Tenure_Days__c} &gt; 0, CEILING({!$Record.Contract_Tenure_Days__c} / 30) , 0))) * 12), {!$Record.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>probabilityFormula</name>
        <dataType>Number</dataType>
        <expression>CASE({!$Record.Type} , &apos;Existing Business&apos;, 25, &apos;New Business&apos;, 12.50, 0)
 + 
CASE({!$Record.PoliticalAlignment__c}, &apos;Negative&apos;, 0, &apos;Neutral&apos;, 7.50, &apos;Positive&apos;, 15, 0 )
 + 
CASE({!$Record.StageName}, &apos;Qualification&apos;, 0, &apos;Need Analysis&apos;, 0, &apos;Proposal/Price Quote&apos;, 10, &apos;Negotiation/Review&apos;, 20, &apos;Draft Order&apos;, 40, &apos;Closed Won&apos;, 40, &apos;Closed Lost&apos;, 0, 0 )
 + 
CASE({!$Record.SalesConfidence__c} , &apos;Reasonably Confident&apos;, 10, &apos;100% Confident&apos;, 20, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>true</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>before Update or Insert Opportunity : update probability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>before Update or Insert Opportunity : update probability</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Probability</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
