force-app/main/default/flows/Contract_Create_Signed_SOF_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>New_Content_Doc_Modify</name>
        <label>New Content Doc Modify</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>newContentDoc.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Content_Document</name>
        <label>New Content Document</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>newContentDoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Content_Doc_Modify</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Content_Document_available</name>
        <label>Content Document available?</label>
        <locationX>611</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document_Link</targetReference>
            </connector>
            <label>Yes_3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Content_Document_Link_Available</name>
        <label>Content Document Link Available?</label>
        <locationX>380</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDoc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Available</name>
        <label>Contract Available?</label>
        <locationX>858</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Created</name>
        <label>Document Created?</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Content_Document</targetReference>
            </connector>
            <label>Yes_5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Docusign_Envelope_Document_present</name>
        <label>Docusign Envelope Document present?</label>
        <locationX>1114</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Docusign_Envelope_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Docusign_Envelope_present</name>
        <label>Docusign Envelope present?</label>
        <locationX>1374</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Docusign_Envelope</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Docusign_Envelope_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contract: Create Signed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Create Signed SOF Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Document</name>
        <label>Create Content Document</label>
        <locationX>50</locationX>
        <locationY>2015</locationY>
        <inputReference>newContentDoc</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Document</name>
        <label>Create Document</label>
        <locationX>182</locationX>
        <locationY>1535</locationY>
        <assignRecordIdToReference>documentRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Document_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Contract.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Contract.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Category__c</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document__c</field>
            <value>
                <stringValue>Signed Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Signed SOF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <object>Document__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>611</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Envelope_Document.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>380</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>contentDoc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
        <queriedFields>ShareType</queriedFields>
        <queriedFields>Visibility</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>858</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Docusign_Envelope</name>
        <label>Get Docusign Envelope</label>
        <locationX>1374</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Docusign_Envelope_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__Envelope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Docusign_Envelope_Document</name>
        <label>Get Docusign Envelope Document</label>
        <locationX>1114</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Docusign_Envelope_Document_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__Envelope__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Envelope.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1248</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Docusign_Envelope</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>dfsle__SourceId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>documentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
