force-app/main/default/flows/Create_Opportunity_Team_for_Tender_SE_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Debugger</name>
        <label>Flow Debugger</label>
        <locationX>354</locationX>
        <locationY>202</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>If_Opp_AMT_20_Lakhs</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>myemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>myemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>myemail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>myemail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>nandish.shenoy@comprotechnologies.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Opp_AMT_20_Lakhs</name>
        <label>If Opp AMT &gt; 20 Lakhs</label>
        <locationX>49</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Amount_more_than_20_Lakhs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Head_SE_Role_Id</targetReference>
            </connector>
            <label>If Amount more than 20 Lakhs</label>
        </rules>
    </decisions>
    <formulas>
        <name>VariableDebugger</name>
        <dataType>Boolean</dataType>
        <expression>{!Create_Opp_Team_Member_for_Tender_SE}</expression>
    </formulas>
    <interviewLabel>Create Opportunity Team for Tender SE User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity Team for Tender SE User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Head_SE_Opportunity_Team</name>
        <label>Create Head SE Opportunity Team</label>
        <locationX>431</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Sales Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_HeadSE_User_Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Team_Member_for_Tender_SE</name>
        <label>Create Opp Team Member for Tender SE</label>
        <locationX>638</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Flow_Debugger</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Channel Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>TenderSEUserId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Head_SE_Role_Id</name>
        <label>Get Head SE Role Id</label>
        <locationX>157</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HeadSE_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yotta_SE_Head</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>SEHeadRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_HeadSE_User_Id</name>
        <label>Get HeadSE User Id</label>
        <locationX>299</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Head_SE_Opportunity_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SEHeadRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>HeadSEUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tender_SE_User</name>
        <label>Get Tender SE User</label>
        <locationX>392</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_Team_Member_for_Tender_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TenderSEId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>TenderSEUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Yotta_Tender_SE_Role_Id</name>
        <label>Get Yotta Tender SE Role Id</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tender_SE_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yotta_Tender_SE</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>TenderSEId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Yotta_Tender_SE_Role_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>HeadSEUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Opportunity Id</description>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SEHeadRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TenderSEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TenderSEUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
