force-app/main/default/flows/Customer_Requirement_changed_in_lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_send</name>
        <label>Email send</label>
        <locationX>1159</locationX>
        <locationY>334</locationY>
        <actionName>Lead.Customers_Requirement_change</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>If_customer_requirement_is_changed_to_colocation</name>
        <label>If customer requirement is changed to colocation</label>
        <locationX>978</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_customer_requirement_is_changed_to_colocationn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductFamily__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Colocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_send</targetReference>
            </connector>
            <label>If customer requirement is changed to colocation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Requirement changed in lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Requirement changed in lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>If_customer_requirement_is_changed_to_colocation</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
