force-app/main/default/flows/Deactivate_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Status_of_Contract_as_Deactivated</name>
        <label>Set Status of Contract as Deactivated</label>
        <locationX>808</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_All_Bundles_Cancelled_Deactivated</name>
        <label>If All Bundles Cancelled/Deactivated?</label>
        <locationX>638</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bundle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_of_Contract_as_Deactivated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Deactivate active contracts if all the bundles under it are deactivated</description>
    <environments>Default</environments>
    <interviewLabel>Deactivate Contracts {!$Record.ContractNumber} {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Check if there is at least 1 bundle not having status &quot;Cancelled&quot;</description>
        <name>Get_Bundle</name>
        <label>Get Bundle</label>
        <locationX>499</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_All_Bundles_Cancelled_Deactivated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>963</locationX>
        <locationY>320</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Bundle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-11-10</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
