force-app/main/default/flows/Delete_Contract_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ContractActivated</name>
        <label>ContractActivated</label>
        <locationX>784</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>IsContractActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckContractStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckStatusodContract</name>
        <label>CheckStatusodContract</label>
        <locationX>593</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>CheckContractStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractNotDraft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckContractStatus.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckContractStatus.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckContractStatus.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Signed by Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckContractStatus.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Approval Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckContractStatus.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractActivated</targetReference>
            </connector>
            <label>ContractNotDraft</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContractActivatedorNot</name>
        <label>ContractActivatedorNot</label>
        <locationX>1151</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Sub_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsContractActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractCannotbedeleted</targetReference>
            </connector>
            <label>ContractActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContractListNull</name>
        <label>ContractListNull</label>
        <locationX>948</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>CheckContractStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfContractListNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuoteNotContracted</targetReference>
            </connector>
            <label>IfContractListNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeletionConfirm</name>
        <label>DeletionConfirm</label>
        <locationX>494</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeletionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeletionConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_quote_records</targetReference>
            </connector>
            <label>DeletionYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfQuoteContracted</name>
        <label>IfQuoteContracted</label>
        <locationX>804</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>QuoteNotContracted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteContracted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_quote_records.Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Records</targetReference>
            </connector>
            <label>QuoteContracted</label>
        </rules>
    </decisions>
    <decisions>
        <name>ListNotNull</name>
        <label>ListNotNull</label>
        <locationX>1262</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>SubListNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssetListNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAssetList</targetReference>
            </connector>
            <label>AssetListNotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubListNotNull</name>
        <label>SubListNotNull</label>
        <locationX>1560</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>DeleteContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubListNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteSubscriptionList</targetReference>
            </connector>
            <label>SubListNotBlank</label>
        </rules>
    </decisions>
    <interviewLabel>Delete Contract Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Contract Records</label>
    <loops>
        <name>CheckContractStatus</name>
        <label>CheckContractStatus</label>
        <locationX>955</locationX>
        <locationY>393</locationY>
        <collectionReference>contractList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckStatusodContract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ContractActivatedorNot</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteAssetList</name>
        <label>DeleteAssetList</label>
        <locationX>1415</locationX>
        <locationY>598</locationY>
        <connector>
            <targetReference>SubListNotNull</targetReference>
        </connector>
        <inputReference>AssetList</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteContracts</name>
        <label>DeleteContracts</label>
        <locationX>1854</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <inputReference>contractList</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteSubscriptionList</name>
        <label>DeleteSubscriptionList</label>
        <locationX>1709</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>DeleteContracts</targetReference>
        </connector>
        <inputReference>SubscriptionList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Records</name>
        <label>Get Asset Records</label>
        <locationX>1160</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Records</name>
        <label>Get Contract Records</label>
        <locationX>814</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractListNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>contractList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_quote_records</name>
        <label>Get quote records</label>
        <locationX>673</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfQuoteContracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Contracted__c</queriedFields>
        <queriedFields>SBQQ__Status__c</queriedFields>
        <queriedFields>SBQQ__Opportunity2__c</queriedFields>
        <queriedFields>Exclude_from_Validation__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sub_Records</name>
        <label>Get Sub Records</label>
        <locationX>1160</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <outputReference>SubscriptionList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>UpdateOpportunity</label>
        <locationX>1854</locationX>
        <locationY>845</locationY>
        <connector>
            <targetReference>UpdateQuoteRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_quote_records.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exclude_from_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Negotiation/Review</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpptyFlag</name>
        <label>UpdateOpptyFlag</label>
        <locationX>1585</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>UpdateQuoteFlag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_quote_records.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exclude_from_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteFlag</name>
        <label>UpdateQuoteFlag</label>
        <locationX>1457</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>SuccessfulUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exclude_from_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteRecords</name>
        <label>UpdateQuoteRecords</label>
        <locationX>1724</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>UpdateOpptyFlag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contracted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude_from_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_PDF_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmDeletion</name>
        <label>ConfirmDeletion</label>
        <locationX>386</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeletionConfirm</targetReference>
        </connector>
        <fields>
            <name>DeletionConfirmation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Are you sure you wish to delete the Contracts associated with the quote?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContractCannotbedeleted</name>
        <label>ContractCannotbedeleted</label>
        <locationX>1355</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotdeleteContract</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;Action cannot be performed as one of the contracts is not in Draft Status. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QuoteNotContracted</name>
        <label>QuoteNotContracted</label>
        <locationX>1119</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotContracted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 10, 10);&quot;&gt;This quote does not have any contracts.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessfulUpdate</name>
        <label>SuccessfulUpdate</label>
        <locationX>1317</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Deletiondone</name>
            <fieldText>&lt;p&gt;The records are successfully deleted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>ConfirmDeletion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>contractList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>IsContractActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubscriptionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
</Flow>
