force-app/main/default/flows/Lead_New_Lead_Notification_for_Vertical_Heads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>messageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>email_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Data</name>
        <label>Assign Recipient Data</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>email_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Data_0</name>
        <label>Assign Recipient Data</label>
        <locationX>534</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>email_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Data_0_0</name>
        <label>Assign Recipient Data</label>
        <locationX>798</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>email_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Data_0_0_0</name>
        <label>Assign Recipient Data</label>
        <locationX>1062</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>email_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Data_0_0_0_0</name>
        <label>Assign Recipient Data</label>
        <locationX>1326</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>email_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Data_0_0_0_0_0</name>
        <label>Assign Recipient Data</label>
        <locationX>1590</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>email_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_addresses_present</name>
        <label>Email addresses present?</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>email_Addresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vertical_Lead_Type_0</name>
        <label>Vertical Lead Type</label>
        <locationX>1062</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manufacturing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Users.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vertical_Manufacturing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Data</targetReference>
            </connector>
            <label>Manufacturing</label>
        </rules>
        <rules>
            <name>Services_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Users.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vertical_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Data_0</targetReference>
            </connector>
            <label>Services</label>
        </rules>
        <rules>
            <name>BFSI_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BFSI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Users.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vertical_BFSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Data_0_0</targetReference>
            </connector>
            <label>BFSI</label>
        </rules>
        <rules>
            <name>IT_ITES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;ITES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Users.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vertical_IT_ITES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Data_0_0_0</targetReference>
            </connector>
            <label>IT&amp;ITES</label>
        </rules>
        <rules>
            <name>Media_and_entertainment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media and entertainment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Users.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vertical_Media_and_Entertainment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Data_0_0_0_0</targetReference>
            </connector>
            <label>Media and entertainment</label>
        </rules>
        <rules>
            <name>Govt_PSU_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Govt &amp; PSU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Users.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vertical_Govt_PSU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Data_0_0_0_0_0</targetReference>
            </connector>
            <label>Govt &amp; PSU</label>
        </rules>
    </decisions>
    <interviewLabel>Lead: New Lead Notification for Vertical Heads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: New Lead Notification for Vertical Heads</label>
    <loops>
        <name>Loop_on_Users</name>
        <label>Loop on Users</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Vertical_Lead_Type_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_addresses_present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 )</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E2v000001pQN7</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E1m000000JzJX</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E2v000001pQMx</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E1m000000JzJI</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E1m000000JzJS</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E1m000000JzJN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122v000001eD9uAAE</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New  Vertical Lead Created</text>
    </textTemplates>
    <textTemplates>
        <name>messageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
New Vertical Lead has been created. Below are the lead details,

Name: {!$Record.FirstName} {!$Record.LastName}
Email: {!$Record.Email}
Company: {!$Record.Company}
Company Type: {!$Record.Company_Type__c}
Vertical: {!$Record.Industry}
Lead Id: {!$Record.Lead_Id__c}
Customer&apos;s requirement: {!$Record.ProductFamily__c}
BU wise Requirement: {!$Record.BU__c}
Region: {!$Record.Region__c}
Lead Owner: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}

Regards,
Salesforce Admin</text>
    </textTemplates>
    <variables>
        <name>email_Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
