force-app/main/default/flows/Lead_Update_Support_to.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Support_To</name>
        <label>Add Support To</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Support_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SupporttoCustomerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Check</name>
        <label>Decision Check</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Support_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SupporttoCustomerName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_over_Account.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Support_To</targetReference>
            </connector>
            <label>Check Support To</label>
        </rules>
    </decisions>
    <description>Update Lead Support to on Lead created in Partner Community</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Update Support to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Update Support to</label>
    <loops>
        <name>Iterate_over_Account</name>
        <label>Iterate over Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Support_TO_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Support_TO_Account</name>
        <label>Get Support TO Account</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SupporttoCustomerName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Support_TO_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SupporttoCustomerName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Support_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
