force-app/main/default/flows/OMT_Contract_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>DocumentStatusPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Status__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsSOFSigned</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_SOF_Signed__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSAReceived</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MSA_Received__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OriginalSOFreceived</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Original_SOF_received__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SOFReceived</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SOF_Received__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>OMT Contract Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMT Contract Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>175</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OMT_Updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SOF_Received__c</queriedFields>
        <queriedFields>Is_SOF_Signed__c</queriedFields>
        <queriedFields>Original_SOF_received__c</queriedFields>
        <queriedFields>Document_Status__c</queriedFields>
        <queriedFields>MSA_Received__c</queriedFields>
        <queriedFields>OMT_Remarks__c</queriedFields>
        <queriedFields>Customer_PO_Date__c</queriedFields>
        <queriedFields>Customer_PO__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>493</locationX>
        <locationY>198</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_PO_Date__c</field>
            <value>
                <elementReference>Customer_PO_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_PO__c</field>
            <value>
                <elementReference>Customer_PO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Status__c</field>
            <value>
                <elementReference>Document_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_SOF_Signed__c</field>
            <value>
                <elementReference>Is_SOF_Signed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSA_Received__c</field>
            <value>
                <elementReference>MSA_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMT_Remarks__c</field>
            <value>
                <elementReference>OMT_Remarks_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_SOF_received__c</field>
            <value>
                <elementReference>Original_SOF_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOF_Received__c</field>
            <value>
                <elementReference>SOF_Received</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>OMT_Updates</name>
        <label>OMT Updates</label>
        <locationX>336</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <fields>
            <name>OriginalValues</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Original Values:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Document Status: {!Get_Contract.Document_Status__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;SOF Received: {!Get_Contract.SOF_Received__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;IS SOF Signed: {!Get_Contract.Is_SOF_Signed__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Original SOF Received: {!Get_Contract.Original_SOF_received__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;MSA Received: {!Get_Contract.MSA_Received__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;OMT Remarks: {!Get_Contract.OMT_Remarks__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Customer PO Date: {!Get_Contract.Customer_PO_Date__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Customer PO#: {!Get_Contract.Customer_PO__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Status</name>
            <choiceReferences>DocumentStatusPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SOF_Received</name>
            <choiceReferences>SOFReceived</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SOF Received?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_SOF_Signed</name>
            <choiceReferences>IsSOFSigned</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is SOF Signed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Original_SOF_Received</name>
            <choiceReferences>OriginalSOFreceived</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Original SOF Received?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSA_Received</name>
            <choiceReferences>MSAReceived</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MSA Received?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OMT_Remarks_Screen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contract.OMT_Remarks__c</elementReference>
            </defaultValue>
            <fieldText>OMT Remarks Screen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_PO_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Contract.Customer_PO_Date__c</elementReference>
            </defaultValue>
            <fieldText>Customer PO Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_PO</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contract.Customer_PO__c</elementReference>
            </defaultValue>
            <fieldText>Customer PO#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
