force-app/main/default/flows/Update_SCF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SubsSCFTypeBlank</name>
        <label>SubsSCFTypeBlank</label>
        <locationX>1602</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>Subscriptions_Loop.SCF_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscriptions_Loop.Original_SCF_Quote_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscriptions_Loop.Upgraded_Subscription_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSubscriptionList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSubscriptionList</name>
        <label>UpdateSubsList</label>
        <locationX>1602</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>updateSubsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subscriptions_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscriptions_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Status_Check</name>
        <label>Contract Status Check</label>
        <locationX>810</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Approved_Activated_Expired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCF_Renewal_already_generated</targetReference>
            </connector>
            <label>Status = Approved/Activated/Expired</label>
        </rules>
        <rules>
            <name>Status_Not_Approved_Activated_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Active_Status_Error_Msg</targetReference>
            </connector>
            <label>Status != Approved/Activated/Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Owner</name>
        <label>If User = Owner?</label>
        <locationX>810</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.UserId_18Char__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Coordinator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e2v000003uSS9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Error_Msg</targetReference>
            </connector>
            <label>User != Owner</label>
        </rules>
        <rules>
            <name>User_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.UserId_18Char__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Coordinator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e2v000003uSS9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Status_Check</targetReference>
            </connector>
            <label>User = Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCF_Renewal_already_generated</name>
        <label>SCF/Renewal already generated?</label>
        <locationX>1049</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scf_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCFGenerated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RenewedQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCF_Generated_Error_Msg</targetReference>
            </connector>
            <label>Scf Generated?</label>
        </rules>
        <rules>
            <name>Contract_Renewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenewedQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Renewed_Error_Msg</targetReference>
            </connector>
            <label>Contract Renewed?</label>
        </rules>
        <rules>
            <name>No_SCF_not_Renewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCFGenerated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RenewedQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scf_Date</targetReference>
            </connector>
            <label>No SCF not Renewed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_SCF_Date</name>
        <label>Validate SCF Date</label>
        <locationX>1053</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Get_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCF_Date_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCF_Effective_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ContractEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCF_Date_Error_Msg_1_Screen</targetReference>
            </connector>
            <label>SCF Date &gt; EndDate</label>
        </rules>
        <rules>
            <name>SCF_Date_Start_Date_Last_SCF_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SCF_Effective_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LastSCFDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCF_Effective_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ContractStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCF_Date_Error_Msg_2</targetReference>
            </connector>
            <label>SCF Date &lt; Start Date/Last SCF Date</label>
        </rules>
    </decisions>
    <description>Added System Admin for SCF Process Access</description>
    <dynamicChoiceSets>
        <name>NewOtc</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>New_OTC_Advance_Payment_Term__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewRc</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>New_RC_Advance_Payment_Term__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SCFType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SCF_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Update SCF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SCF</label>
    <loops>
        <name>Subscriptions_Loop</name>
        <label>Subscriptions Loop</label>
        <locationX>1411</locationX>
        <locationY>553</locationY>
        <collectionReference>Get_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SubsSCFTypeBlank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>contract</name>
        <label>contract</label>
        <locationX>701</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>ContractEndDate</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SCFGenerated</assignToReference>
            <field>Is_SCF_Generated__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastSCFDate</assignToReference>
            <field>Last_SCF_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POC</assignToReference>
            <field>POC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RenType</assignToReference>
            <field>Renewal_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RenewedQuote</assignToReference>
            <field>SBQQ__RenewalQuoted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractStartDate</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contractStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscriptions</name>
        <label>Get Subscriptions</label>
        <locationX>1274</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscriptions_Loop</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 )</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCF_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Original_SCF_Quote_Line__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Upgraded_Subscription_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SCF_Type__c</queriedFields>
        <queriedFields>Original_SCF_Quote_Line__c</queriedFields>
        <queriedFields>Upgraded_Subscription_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>1413</locationX>
        <locationY>861</locationY>
        <connector>
            <targetReference>Redirect_to_Amendment_VF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__AmendmentStartDate__c</field>
            <value>
                <elementReference>SCF_Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscriptions</name>
        <label>Update Subscriptions</label>
        <locationX>1412</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>updateSubsList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contract_Renewed_Error_Msg</name>
        <label>Contract Renewed Error Msg</label>
        <locationX>1283</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCFtypeNull</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 10, 10);&quot;&gt;You cannot create SCF as the contract has already been renewed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Scf_Date</name>
        <label>Get Scf Date</label>
        <locationX>1060</locationX>
        <locationY>428</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_SCF_Date</targetReference>
        </connector>
        <fields>
            <name>SCF_Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>SCF Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Active_Status_Error_Msg</name>
        <label>Not Active Status Error Msg</label>
        <locationX>562</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContractInactive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 18, 18); background-color: rgb(255, 255, 255);&quot;&gt;SCF cannot be generated as the contract is not Approved or Active or Expired.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Error_Msg</name>
        <label>Owner Error Msg</label>
        <locationX>1024</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OwnerError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 6, 6); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Only the Owner can create SCF.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>POC</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Amendment_VF</name>
        <label>Redirect to Amendment VF</label>
        <locationX>1412</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Amendment_VF_Page</name>
            <extensionName>c:CMP_CallAmendmentVF</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCF_Date_Error_Msg_1_Screen</name>
        <label>SCF Date Error Msg 1</label>
        <locationX>828</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCF_Date_Error_Msg_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 6, 6);&quot;&gt;SCF Effective date cannot be greater than the contract expiration date.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCF_Date_Error_Msg_2</name>
        <label>SCF Date Error Msg 2</label>
        <locationX>830</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LastScfDate1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 3, 3); font-family: Roboto, sans-serif;&quot;&gt;SCF Date cannot be less than last SCF effective date and Contract Start Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCF_Generated_Error_Msg</name>
        <label>SCF Generated Error Msg</label>
        <locationX>1279</locationX>
        <locationY>157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(244, 89, 29);&quot;&gt;SCF is already under process.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>340</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>contract</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddressLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AmendmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingBillingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastSCFDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newAddressLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewBillingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOTCAdvancePaymentTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewRcAdvancePaymentTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OTCAdvancePaymentTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RCAdvancePaymentTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RenewedQuote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RenType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCFGenerated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ScfValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateSubsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
</Flow>
