force-app/main/default/flows/Upload_Documents_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Empty_Text_Collection</name>
        <label>Set Empty Text Collection</label>
        <locationX>513</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>EmptyTextCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Document_Uploaded</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FlowObject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Document_Uploaded</name>
        <label>Document Uploaded?</label>
        <locationX>654</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doc_Not_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmptyTextCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Doc_Not_Uploaded_Message_Screen</targetReference>
            </connector>
            <label>Doc Not Uploaded</label>
        </rules>
        <rules>
            <name>Doc_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentIds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmptyTextCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Record</targetReference>
            </connector>
            <label>Doc Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Defaults_Selected</name>
        <label>Flow Defaults Selected?</label>
        <locationX>269</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Wrong_Defaults_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_Defaults_Matching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FlowObject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Empty_Text_Collection</targetReference>
            </connector>
            <label>Flow Defaults Matching</label>
        </rules>
    </decisions>
    <interviewLabel>Upload Documents Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Documents Contract</label>
    <loops>
        <name>Get_Document_Id</name>
        <label>Get Document Id</label>
        <locationX>854</locationX>
        <locationY>319</locationY>
        <assignNextValueToReference>ContentDocumentId</assignNextValueToReference>
        <collectionReference>ContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_Uploaded_file_to_Document</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Document</name>
        <label>Insert Document</label>
        <locationX>854</locationX>
        <locationY>183</locationY>
        <assignRecordIdToReference>DocumentRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Document_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Contract_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Category__c</field>
            <value>
                <elementReference>DocumentCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document__c</field>
            <value>
                <elementReference>Document</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Document</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <elementReference>FlowObject</elementReference>
            </value>
        </inputAssignments>
        <object>Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Link_Uploaded_file_to_Document</name>
        <label>Link Uploaded file to Document</label>
        <locationX>1034</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Success_Message_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>DocumentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contract_Record</name>
        <label>Contract Record</label>
        <locationX>854</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Doc_Not_Uploaded_Message_Screen</name>
        <label>Doc Not Uploaded Message Screen</label>
        <locationX>661</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Doc_Not_Uploaded_Message</name>
            <fieldText>&lt;p&gt;You missed to upload the document! Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>1036</locationX>
        <locationY>466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Doc_Uploaded_Message</name>
            <fieldText>&lt;p&gt;Document Uploaded Successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Documents</name>
        <label>Upload Documents</label>
        <locationX>148</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flow_Defaults_Selected</targetReference>
        </connector>
        <fields>
            <name>DocumentInfo</name>
            <fieldText>&lt;p&gt;Please Provide Document Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocDetails</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Object__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Document_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>FlowObject</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DocumentCategory</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Document</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Object</assignToReference>
                <name>topValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Document</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrong_Defaults_Error_Screen</name>
        <label>Wrong Defaults Error Screen</label>
        <locationX>278</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Wrong_Defaults_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Wrong Selection is made!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please select &quot;&lt;b&gt;{!FlowObject}&lt;/b&gt;&quot; object and relevant document.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Upload_Documents</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Document</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
